language: php

sudo: false

services:
  - couchdb

php:
  - 7.2
  - 7.3
  - 7.4
  - nightly
  - hhvm

matrix:
    allow_failures:
        - php: nightly
        - php: hhvm

before_script:
  - for i in {1..5}; do curl -X PUT localhost:5984/doctrine_test_database && break || sleep 15; done
  - composer self-update
  - composer install

script: php vendor/bin/phpunit
